.auxiliary-buttons {
  position: absolute;
  top: 0;
  right: 20px;
}

.auxiliary-buttons button {
  margin: 10px;
  width: 100px;
}

input, button {
  display: block;
}

input {
  margin: 5px;
  border-radius: 4px;
  height: 20px;
  border: 2px solid gray;
}

button {
  margin-top: 20px;
}

fieldset {
  display: inline;
}

.display-none {
  display: none;
}

.result {
  font-size: 30px;
  color: rgb(83, 81, 81);
  padding: 40px;
}

.alarm {
  border-color: red;
}

.red {
  color: red;
}

.green {
  color: green;
}